.main {
  section, .section {
    .inner-section-container {
      position: relative;
      .inner-section {
        padding: 30px 10px;
        h2 {
          font-size: 24px;
          font-weight: bold;
        }
        p {
          font-size: 18px;
          color: $blackColor;
        }

        .links-container {
          margin-top: 20px;
          ul {
            margin-bottom: 0px;
            .link {
              margin: 5px 5px;
              &.project-link{
                display: inline-block;
                font-size: 16px;
                line-height: 16px;
                padding: 10px 12px 10px 11px;
                color: $whiteColor;
                border-radius: 20px;
                background-color: rgba(0,0,0,0.4);
                transition: all 0.3s ease;
                overflow: hidden;
                white-space: nowrap;
                text-decoration: none;
                right: 20px;
                i {
                  margin-right: 10px;
                }
                a {
                  color: $whiteColor;
                  text-decoration: none;
                }
                &:visited, &:hover {
                  background-color: rgba(0,0,0,0.6);
                  text-decoration: none;
                  color: $whiteColor;
                }
              }
            }
          }
        }

        .technologies {
          padding: 20px 0px 0px;
          ul {
            display: inline-block;
            margin-bottom: 0px;
            li {
              display: inline-block;
              margin-right: 15px;
              margin-bottom: 20px;
              &.tech {
                @include bg-cover();
                @include box-shadow(0px, 0px, 5px, 2px, rgba(0,0,0,0.2));
                width: 40px;
                height: 40px;
                opacity: 0.7;
                border-radius: 50%;
                transition: all 0.4s ease;
                position: relative;
                &:before {
                  transition: all 0.4s ease;
                  content: attr(data-techname);
                  position: absolute;
                  top: -20px;
                  color: #555;
                  font-size: 10px;
                  text-align: center;
                  font-weight: bold;
                  opacity: 0;
                  width: 150%;
                  margin-left: -25%;
                }
                &:hover {
                  opacity: 1;
                  &:before {
                    opacity: 1;
                  }
                }
              }
            }
          }
        }
      }

      .pictures-container {
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 75%;
        @include flexCenter();
        margin-top: 10px;
        margin-bottom: 10px;
        img {
          max-height: 100%;
          border-radius: 3px;
        }
      }
    }

    // Theme color bloc modifications
    &.theme-color {
      background-color: $themeColor;
      .inner-section-container {
        .inner-section {
          p, h2 {
            color: $whiteColor;
          }
        }
      }
      .project-link {
        color: $lightGreyColor;
        &:visited, &:hover {
          color: $lightGreyColor;
        }
      }
      .tech {
        &:before {
          color: $whiteColor !important;
        }
      }
    }

    // Block override
    &.gitconnect, &.shape, &.cube {
      .inner-section-container {
        .pictures-container {
          left: 66.66%;
        }
      }
    }

    &.shape {
      .inner-section-container {
        .pictures-container {
          img {
            border-radius: 50%;
          }
        }
      }
    }
  }

  // Tech pictures
  .technologies {
    ul {
      li {
        &.tech {
          &.apple {
            background-image: url('../pictures/tech/apple.jpg');
          }
          &.cordova {
            background-image: url('../pictures/tech/cordova.jpg');
          }
          &.angular {
            background-image: url('../pictures/tech/angular.jpg');
          }
          &.grunt {
            background-image: url('../pictures/tech/grunt.jpg');
          }
          &.bootstrap {
            background-image: url('../pictures/tech/bootstrap.jpg');
          }
          &.firebase {
            background-image: url('../pictures/tech/firebase.jpg');
          }
          &.mongolab {
            background-image: url('../pictures/tech/mongolab.jpg');
          }
          &.html {
            background-image: url('../pictures/tech/html.jpg');
          }
          &.heroku {
            background-image: url('../pictures/tech/heroku.jpg');
          }
          &.ionic {
            background-image: url('../pictures/tech/ionic.jpg');
          }
          &.js {
            background-image: url('../pictures/tech/JavaScript.jpg');
          }
          &.css {
            background-image: url('../pictures/tech/css.jpg');
          }
          &.node {
            background-image: url('../pictures/tech/node.jpg');
          }
          &.gmaps {
            background-image: url('../pictures/tech/gmaps.jpg');
          }
          &.sass {
            background-image: url('../pictures/tech/sass.jpg');
          }
          &.fb {
            background-image: url('../pictures/tech/fb.jpg');
          }
          &.mongoDB {
            background-image: url('../pictures/tech/mongoDB.jpg');
          }
          &.github {
            background-image: url('../pictures/tech/Github.jpg');
          }
          &.jquery {
            background-image: url('../pictures/tech/jquery.jpg');
          }
          &.neo4j {
            background-image: url('../pictures/tech/Neo4j.jpg');
          }
          &.socket {
            background-image: url('../pictures/tech/socket.jpg');
          }
          &.gulp {
            background-image: url('../pictures/tech/Gulp.jpg');
          }
          &.aws {
            background-image: url('../pictures/tech/AWS.jpg');
          }
          &.protractor {
            background-image: url('../pictures/tech/Protractor.jpg');
          }
          &.react {
            background-image: url('../pictures/tech/React.jpg');
          }
          &.webpack {
            background-image: url('../pictures/tech/Webpack.jpg');
          }
          &.es6 {
            background-image: url('../pictures/tech/ES6.jpg');
          }
          &.openWeatherMap {
            background-image: url('../pictures/tech/OpenWeatherMap.jpg');
          }
          &.panoramio {
            background-image: url('../pictures/tech/Panoramio.jpg');
          }
        }
      }
    }
  }  
}