.main {
  .section {
    .inner-section-container {
      position: relative;
      height: 300px;
      display: table;
      .inner-section {
        display: table-cell;
        vertical-align: middle;
        h2 {
          font-size: 24px;
          font-weight: bold;
        }
        p {
          font-size: 18px;
          color: #000;
          // margin-bottom: 20px;
        }
      }
    }
    &.text {
      background-color: $themeColor;
      .inner-section-container {
        .inner-section {
          p, h2 {
            color: #FFF;
          }
        }
      }
      .tech {
        &:before {
          color: #FFF;
        }
      }
    }
    &.gitconnect {
      // background-image: url('../pictures/bg/gitconnect.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      // background-color: #333;
      .tech {
        &:before {
          color: #FFF;
        }
      }
    }
    // &.game {
    //   background-image: url('../pictures/bg/game.jpg');
    //   background-size: cover;
    //   background-repeat: no-repeat;
    //   background-color: #333;
    // }
    &.snake {
      // background-image: url('../pictures/bg/snake.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-color: #EEEEEE;
    }
    // &.which {
    //   background-image: url('../pictures/bg/which.jpg');
    //   background-size: cover;
    //   background-repeat: no-repeat;
    //   background-color: #333;
    // }
    &.cube{
      background-image: url('../pictures/bg/cube-speed.gif');
      background-repeat: no-repeat;
    }
    &.shape {
      .shape-text {
        display: table;
        height: 300px;
        .shape-inner {
        display: table-cell;
        vertical-align: middle;
      }
      }
    }
    .shape-pic-container {
      text-align: center;
      .shape-pic{
        background-image: url('../pictures/bg/shape-morphing-2.png');
        background-size: cover;
        background-position: 50% 50%;
        // width: 100%;
        // height: 300px;
        border-radius: 50%;
        margin: 10px auto;
        width: 100%;
        max-width: 280px;
      }
    }
  }

  // Github & Project page links
  .link {
    &.project-link{
      position: absolute;
      font-size: 16px;
      line-height: 16px;
      padding: 10px 10px 10px 11px;
      color: #EEE;
      border-radius: 20px;
      background-color: rgba(0,0,0,0.2);
      transition: all 0.3s ease;
      overflow: hidden;
      width: 36px;
      height: 36px;
      white-space: nowrap;
      text-decoration: none;
      i {
        margin-right: 12px;
      }
      &:visited, &:hover {
        background-color: rgba(0,0,0,0.6);
        text-decoration: none;
        color: #EEEEEE;
      }
      &.see-project {
        bottom: 20px;
        right: 20px;
      }
      &.see-github {
        bottom: 60px;
        right: 20px;
      }
      &.expand {
        &.see-project {
          width: 160px;
        }
        &.see-github {
          width: 150px;
        }
      }
    }
  }

  // Tech list
  .technologies {
    position: absolute;
    bottom: 20px;
    left: 20px;
    ul {
      display: inline-block;
      margin-bottom: 0px;
      height: 40px;
      padding-right: 80px;
      li {
        display: inline-block;
        margin-right: 10px;
        &.tech {
          width: 40px;
          height: 40px;
          // overflow: hidden;
          opacity: 0.3;
          border-radius: 50%;
          -webkit-box-shadow: 0 0 5px 2px rgba(0,0,0,0.2);
          box-shadow: 0 0 5px 2px rgba(0,0,0,0.2);
          transition: all 0.4s ease;
          background-position: 50% 50%;
          background-size: cover;
          position: relative;
          &:before {
            transition: all 0.4s ease;
            content: attr(data-techname);
            position: absolute;
            top: -20px;
            color: #555;
            width: 100%;
            font-size: 10px;
            text-align: center;
            font-weight: bold;
            opacity: 0;
          }
          &:hover {
            opacity: 1;
            &:before {
              opacity: 1;
            }
          }
        }

      }
    }
  }
  // Tech pictures
  .technologies {
    ul {
      li {
        &.tech {
          &.angular {
            background-image: url('../pictures/tech/angular.jpg');
          }
          &.grunt {
            background-image: url('../pictures/tech/grunt.jpg');
          }
          &.bootstrap {
            background-image: url('../pictures/tech/bootstrap.jpg');
          }
          &.firebase {
            background-image: url('../pictures/tech/firebase.jpg');
          }
          &.mongolab {
            background-image: url('../pictures/tech/mongolab.jpg');
          }
          &.html {
            background-image: url('../pictures/tech/html.jpg');
          }
          &.heroku {
            background-image: url('../pictures/tech/heroku.jpg');
          }
          &.js {
            background-image: url('../pictures/tech/JavaScript.jpg');
          }
          &.css {
            background-image: url('../pictures/tech/css.jpg');
          }
          &.node {
            background-image: url('../pictures/tech/node.jpg');
          }
          &.gmaps {
            background-image: url('../pictures/tech/gmaps.jpg');
          }
          &.sass {
            background-image: url('../pictures/tech/sass.jpg');
          }
          &.fb {
            background-image: url('../pictures/tech/fb.jpg');
          }
          &.mongoDB {
            background-image: url('../pictures/tech/mongoDB.jpg');
          }
          &.github {
            background-image: url('../pictures/tech/Github.jpg');
          }
          &.jquery {
            background-image: url('../pictures/tech/jquery.jpg');
          }
          &.neo4j {
            background-image: url('../pictures/tech/Neo4j.jpg');
          }
          &.socket {
            background-image: url('../pictures/tech/socket.jpg');
          }
          &.gulp {
            background-image: url('../pictures/tech/Gulp.jpg');
          }
          &.aws {
            background-image: url('../pictures/tech/AWS.jpg');
          }
          &.protractor {
            background-image: url('../pictures/tech/Protractor.jpg');
          }
        }
      }
    }
  }  
}

@media (max-width:479px) {
  .main {
    .section {
      .inner-section-container {
        position: relative;
        height: 300px;
        display: table;
        .inner-section {
          display: table-cell;
          vertical-align: middle;
          h2 {
            font-size: 20px;
            font-weight: bold;
          }
          p {
            font-size: 14px;
            margin-bottom: 50px;
          }
        }
      }
    }
  }
}



