.main {
  .section {
    .inner-section-container {
      position: relative;
      min-height: 300px;
      display: table;
      .inner-section {
        display: table-cell;
        vertical-align: middle;
        padding-right: 50px;
        h2 {
          font-size: 24px;
          font-weight: bold;
        }
        p {
          font-size: 18px;
          color: #000;
        }
      }
    }
    // Theme color bloc modifications
    &.theme-color {
      background-color: $themeColor;
      .inner-section-container {
        .inner-section {
          p, h2 {
            color: $whiteColor;
          }
        }
      }
      .project-link {
        color: $lightGreyColor;
        &:visited, &:hover {
          color: $lightGreyColor;
        }
      }
      .tech {
        &:before {
          color: $whiteColor;
        }
      }
    }
    &.gitconnect {
      @include bg-cover();
      .tech {
        &:before {
          color: $whiteColor;
        }
      }
    }
    &.snake {
      @include bg-cover();
    }
    &.cube{
      background-image: url('../pictures/bg/cube-speed.gif');
      background-repeat: no-repeat;
    }
    &.shape {
      .inner-section {
        padding-right: 0px;
      }
      .shape-text {
        display: table;
        height: 300px;
        .shape-inner {
          display: table-cell;
          vertical-align: middle;
        }
      }
    }
    .shape-pic-container {
      text-align: center;
      .shape-pic{
        @include bg-cover();
        background-image: url('../pictures/bg/shape-morphing-2.png');
        border-radius: 50%;
        margin: 10px auto;
        width: 100%;
        max-width: 280px;
      }
    }
  }

  // Github & Project page links
  .link {
    &.project-link{
      position: absolute;
      font-size: 16px;
      line-height: 16px;
      padding: 10px 10px 10px 11px;
      color: $whiteColor;
      border-radius: 20px;
      background-color: rgba(0,0,0,0.2);
      transition: all 0.3s ease;
      overflow: hidden;
      width: 36px;
      height: 36px;
      white-space: nowrap;
      text-decoration: none;
      right: 20px;
      i {
        margin-right: 12px;
      }
      &:visited, &:hover {
        background-color: rgba(0,0,0,0.6);
        text-decoration: none;
        color: $whiteColor;
      }
      &.see-app {
        i {
          margin-right: 13px;
        }
      }
      &.first {
        bottom: 20px;
      }
      &.second {
        bottom: 60px;
      }
      &.third {
        bottom: 100px;
      }
      &.fourth {
        bottom: 140px;
      }
      &.expand {
        &.see-project {
          width: 160px;
        }
        &.see-github {
          width: 150px;
        }
        &.see-app {
          width: 130px;
        }
        &.see-api {
          width: 140px;
        }
      }
    }
  }

  // Tech list
  .technologies {
    position: absolute;
    bottom: 20px;
    left: 20px;
    ul {
      display: inline-block;
      margin-bottom: 0px;
      height: 40px;
      padding-right: 80px;
      li {
        display: inline-block;
        margin-right: 10px;
        &.tech {
          @include bg-cover();
          @include box-shadow(0px, 0px, 5px, 2px, rgba(0,0,0,0.2));
          width: 40px;
          height: 40px;
          opacity: 0.3;
          border-radius: 50%;
          transition: all 0.4s ease;
          position: relative;
          &:before {
            transition: all 0.4s ease;
            content: attr(data-techname);
            position: absolute;
            top: -20px;
            color: #555;
            width: 100%;
            font-size: 10px;
            text-align: center;
            font-weight: bold;
            opacity: 0;
          }
          &:hover {
            opacity: 1;
            &:before {
              opacity: 1;
            }
          }
        }

      }
    }
  }
  // Tech pictures
  .technologies {
    ul {
      li {
        &.tech {
          &.apple {
            background-image: url('../pictures/tech/apple.jpg');
          }
          &.cordova {
            background-image: url('../pictures/tech/cordova.jpg');
          }
          &.angular {
            background-image: url('../pictures/tech/angular.jpg');
          }
          &.grunt {
            background-image: url('../pictures/tech/grunt.jpg');
          }
          &.bootstrap {
            background-image: url('../pictures/tech/bootstrap.jpg');
          }
          &.firebase {
            background-image: url('../pictures/tech/firebase.jpg');
          }
          &.mongolab {
            background-image: url('../pictures/tech/mongolab.jpg');
          }
          &.html {
            background-image: url('../pictures/tech/html.jpg');
          }
          &.heroku {
            background-image: url('../pictures/tech/heroku.jpg');
          }
          &.ionic {
            background-image: url('../pictures/tech/ionic.jpg');
          }
          &.js {
            background-image: url('../pictures/tech/JavaScript.jpg');
          }
          &.css {
            background-image: url('../pictures/tech/css.jpg');
          }
          &.node {
            background-image: url('../pictures/tech/node.jpg');
          }
          &.gmaps {
            background-image: url('../pictures/tech/gmaps.jpg');
          }
          &.sass {
            background-image: url('../pictures/tech/sass.jpg');
          }
          &.fb {
            background-image: url('../pictures/tech/fb.jpg');
          }
          &.mongoDB {
            background-image: url('../pictures/tech/mongoDB.jpg');
          }
          &.github {
            background-image: url('../pictures/tech/Github.jpg');
          }
          &.jquery {
            background-image: url('../pictures/tech/jquery.jpg');
          }
          &.neo4j {
            background-image: url('../pictures/tech/Neo4j.jpg');
          }
          &.socket {
            background-image: url('../pictures/tech/socket.jpg');
          }
          &.gulp {
            background-image: url('../pictures/tech/Gulp.jpg');
          }
          &.aws {
            background-image: url('../pictures/tech/AWS.jpg');
          }
          &.protractor {
            background-image: url('../pictures/tech/Protractor.jpg');
          }
        }
      }
    }
  }  
}

@media (max-width:479px) {
  .main {
    .section {
      .inner-section-container {
        position: relative;
        min-height: 300px;
        display: table;
        .inner-section {
          display: table-cell;
          vertical-align: middle;
          h2 {
            font-size: 20px;
            font-weight: bold;
          }
          p {
            font-size: 14px;
            margin-bottom: 50px;
          }
        }
      }
    }
  }
}



