// Mobile Overide
@media (max-width: 767px) {
  .header {
    padding: 20px 0;
    .picture-container {
      .face-picture {
        width: 100px;
        height: 100px;
      }
    }
    .informations {
      padding-top: 20px;
      padding-bottom: 20px;
      .inner-text{
        h4 {
          text-align: center;
        }
      }
    }
    .header-links {
      text-align: center;
      height: auto;
      .inner-text {
        display: block;
        text-align: center;
        a {
          display: inline-block;
          font-size: 0px;
          i {
            font-size: 40px;
            padding: 0px 15px;
          }
        }
      }
    }
  }

  .main {
    section, .section {
      .inner-section-container {
        .inner-section {
          h2 {
            text-align: center;
          }
          .technologies {
            ul {
              padding-right: 0px;
              text-align: center;
              li {
                margin: 0px 10px 20px;
                opacity: 0.8;
                &::before {
                  margin-left: -75% !important;
                }
              }
            }
          }
          .links-container {
            text-align: center;
          }
        }
        .pictures-container {
          position: relative;
          left: 0px;
        }
      }
    }
  }
}

@media (max-width:479px) {
  .main {
    .section {
      .inner-section-container {
        .inner-section {
          h2 {
            font-size: 22px;
            font-weight: bold;
          }
          p {
            font-size: 16px;
          }
        }
      }
    }
  }
}

