// Mobile Overide
@media (max-width: 767px) {
  .header {
    padding: 20px 0;
    .picture-container {
      .face-picture {
        width: 100px;
        height: 100px;
      }
    }
    .informations {
      padding-top: 20px;
      padding-bottom: 20px;
      .inner-text{
        h4 {
          text-align: center;
        }
      }
    }
    .header-links {
      text-align: center;
      height: auto;
      .inner-text {
        display: block;
        text-align: center;
        a {
          display: inline-block;
          font-size: 0px;
          i {
            font-size: 40px;
            padding: 0px 15px;
          }
        }
      }
    }
  }

   // Tech list
  .main {
    .technologies {
      ul {
        padding-right: 80px;
        li {
          &.tech {
            width: 20px;
            height: 20px;
            &:before {
              font-size: 0px;
            }
            &:hover {
              opacity: 1;
              &:before {
                font-size: 0px;
              }
            }
          }

        }
      }
    }
  }
}