@import "compass/reset";
@import "bootstrap";
@import "fontawesome";

/*
* * Global
*/

body {
  * {
    font-family: Helvetica;
    box-sizing:border-box;
  }

  .header {
    padding: 40px 0;
    .picture-container {
      .face-picture {
        margin: 0 auto;
        width: 150px;
        height: 150px;
        border: 5px solid #FFF;
        border-radius: 50%;
        -webkit-box-shadow: 0 0 5px 2px rgba(0,0,0,0.2);
        box-shadow: 0 0 5px 2px rgba(0,0,0,0.2);
        background: url('../pictures/perso.jpg') no-repeat;
        background-size: cover;
      }
    }
    .informations {
      display: table;
      height: 150px;
      font-size: 18px;
      .inner-text{
        display: table-cell;
        vertical-align: middle;
        margin-bottom: 0px;
        text-align: justify;
      }
    }

    .header-links {
      display: table;
      height: 150px;
      .inner-text {
        display: table-cell;
        vertical-align: middle;
        a {
          display: block;
          font-size: 20px;
          color: #000;
          &:visited, &:hover {
            text-decoration: none;
          }
          .fa {
            padding-right: 10px;
          }
        }
      }
    }
  }


  .main {
    h3 {
      margin: 0px;
      padding: 20px 0;
    }
    .section {
      height: 300px;
      &.section-1{background-color: #EEBB00}
      &.snake {
        background-image: url('../pictures/bg/snake.png');
        background-size: cover;
        background-repeat: no-repeat;
      }
      &.section-3{
        background-color: #EEBB00
      }
      &.section-4{
        background-image: url('../pictures/bg/cube-speed.gif');
        background-repeat: no-repeat;
      }
    }
  }

  .footer{

  }
}
