@mixin box-shadow($top, $right, $left, $bottom, $color) {
  -webkit-box-shadow: $top $right $left $bottom $color;
  -moz-box-shadow: $top $right $left $bottom $color;
  box-shadow: $top $right $left $bottom $color;
}

@mixin bg-cover() {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

@mixin flexCenter() {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;

  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;

  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  text-align: center;
}

